<!DOCTYPE html>
<html>
  <head>
    <title>Movie</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/footable.core.min.css' />
    <script src="/javascripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/footable.js" type="text/javascript"></script>
	<script src="/javascripts/footable.sort.js" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
  </head>
  <body>
  	<div class="container-fluid">
	  	<div class="col-xs-12">
	    	<h1>Box Office of Previous Four Weeks</h1>
		</div>
		<div class="col-xs-12 row">
			<div class="col-xs-6">From <%= date.from %> to <%= date.to %></div>
			<div class="col-xs-6 text-right">en | cn</div>
		</div>
	    <div id="movie-gross-table" class="col-xs-12">
		    <table class="table-bordered table-condensed cf table toggle-circle-filled">
		    	<thead>
		    		<th class="text-center" data-sort-initial="true" data-type="numeric" >Rank</th>
		    		<th class="text-center" >File Title</th>
		    		<th class="text-center" data-hide="phone">Distributor / Production Co.</th>
		    		<th class="text-center" data-hide="phone">Origin</th>
		    		<th class="text-center" data-hide="phone" data-type="numeric" >Release Date</th>
		    		<th class="text-center" data-type="numeric" >Total Gross of previous 4 weeks (HK$)</th>
		    		
		    	</thead>
		    	<tbody>
					<% for(var i=0; i < details.length; i++) { %>
				   		<tr class="data-row">
				   			<td class="text-center" data-value="<%= i + 1 %>" data-title="Rank"><%= i + 1 %></td>
				    		<td><%= details[i].movie %></td>
				    		<td><%= details[i].prodCo %></td>
				    		<td><%= details[i].origin %></td>
				    		<td class="text-center" data-value="<%= details[i].unix %>"><%= details[i].releaseDate %></td>
				    		<td class="text-center" data-value="<%= details[i].grossValue %>"><%= details[i].gross %></td>
				   		</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
  </body>
</html>

<script>

$(function() {
  $('table').footable();

	$(".footable tbody tr:odd").addClass("odd");
	$(".footable tbody tr:even").addClass("even");
});

$('table').footable({
  breakpoints: {
    tablet: 1024,
    phone: 620
  }
});

$('td').click(function(e) {
	if($(e.currentTarger).parent().hasClass('footable-row-detail')) {
		if($(e.currentTarger).parent().prev().hasClass('odd')) {
			$(e.currentTarger).parent().css('background-color' , 'rgb(103, 103, 103) !important');
		} else {
			$(e.currentTarger).parent().css('background-color' , '#242424 !important');
		}
	}
});




</script>



